@import url("https://fonts.googleapis.com/css?family=Josefin+Slab");
@import url('https://fonts.googleapis.com/css?family=Orbitron');
/*@import "node_modules/react-image-gallery/styles/css/image-gallery.css";
*/


html {

  }

body {
  font-family: "Josefin Slab", serif;
  box-sizing: border-box;
}

.container {
    background-color: #fdfdfd;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box {
  width: 100%;
}
.box.header {
  background-color: #3a3a3a;
  height: 20vh;
  display: block;
  font-family: 'Orbitron', sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
  width:100%;
}

 .mail {
  float: center;
  padding-left: 10px;
  font-size: 16px;
}

.beer {
  float: left;
  max-width: 30%;
  max-height: 100%;
  display: inline-block;
}

.heading {
  float: right;
  font-size: calc(22px + 4vmin);
  font-weight: bold;
  padding: 30px;
}

/* ====================== Menu ====================== */

.nav {
  padding: 5px;
}

.navigation {
  border: none;
  cursor: pointer;
  padding: 10px;
  width:13.2%;
  font-size: 20px;
  font-weight: bolder;
  background-color: white;
  color: black;
  margin: 5px;
}

/* ====================== Info/ home ====================== */

.info {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  border-top: 1px solid #565656;
}

.fair {
  float: right;
  width: 580px;
  height: 445px;
  padding: 20px 10px 20px 10px;
}

.list {
  float: left;
  font-size: 20px;
  width: 50%;
}
.service {
  font-size: 20px;
  width: 100%;
  padding-top: 20px;
}

/* ====================== Products ====================== */

.products {
}
.categories {
  list-style-type: none;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.categoriesList {
  width: 250px;
}
.productType {
  width: 15em;
  font-size: 18px;
  font-weight: bold;
  background-color: #e6ecf7;
  height: 28vh;
  padding: 20px;
  margin: 2.2em;
  cursor: pointer;
}

/* ====================== Gallery ====================== */

.grid-container {
  width: 100%;
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: auto auto;
  max-width: 1200px;
  margin: auto;
}
.grid-item {
  width:50%;
}

.image {
  width: 300px;
  height: 250px;
  padding: 20px;
}

/* ====================== Contact ====================== */
.contactUs {
margin-right: auto;
margin-left: auto;
width: 100%;
max-width: 1200px;
display: flex;
flex-wrap: wrap;
height: 100%;
}

.contactUs #map-container {
  width: 50%;
  left: 50%;
}
.contactUs #map {
  width: 100%;
  left: 50%;
}
.contactUs .address {
  padding-top: 80px;
  width: 50%;
  height: 100%;
  max-width: 560px;
  color: black;
  font-size: 20px;
  text-align: center;
}
/* ====================== Footer ====================== */

#footer {
  background-color: #3a3a3a;
  color: white;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  width:100%;
  max-height:60px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
